section{
    padding-bottom: 50px;
    border-bottom: black solid 1px;
}

section h4:first-child{
    color: rgb(47, 255, 0);
}

section:nth-child(2){
    border-bottom: red solid 5px;
}

section:nth-child(2) h1{
    color: red;
}
section:nth-child(3) h1,ul{
    color: red;
}

section:nth-child(4) ul{
    color: black;
}
section:nth-child(4) li:nth-child(2){
    font-size: 30px;
}