section{
    padding-bottom: 50px;
    border-bottom: black solid 1px;
}

section:first-child h4{
    color: rgb(47, 255, 0);
}

section:nth-child(2){
    border-bottom: red solid 5px;
}

section:nth-child(2) h1{
    color: red;
}
section:nth-child(3) h1,ul{
    color: red;
}

section:nth-child(4) ul{
    color: black;
}
section:nth-child(4) ul>li>a{
    font-size: 30px;
}
section:nth-child(5) h3+span{
    color: rgb(89, 255, 0);
}

section:nth-child(6) img {
    border: 1px solid black;
    border-radius: 100%;
}

section:nth-child(7) p:hover{
    color: green;
}