section{
    padding-bottom: 50px;
    border-bottom: black solid 1px;
}

h4:first-child{
    color: blue;
}

section:nth-child(2){
    border-bottom: red solid 5px;
}

section:nth-child(3) h1{
    color: red;
}

